
.modal-table-fixit{
    align-content: center;
}

em{
    text-align: center;
    font-size : 12px;
}


.text-muted{
    text-align: center;
}
.headerImage{
    margin:0 auto;
    max-height: 400px;
    max-width: 100%;    
}

body{    
    margin:0 auto;
    max-width:1920px;     
    margin-left:auto ;
    margin-right:auto
    
}

.headerText{
    text-align: center;
    padding-top: 1%;

}

.contactPopup{
    text-align: center;
    padding: 10px;
    margin: 10px;
}

.sectionImages{
    margin:0 auto;
    max-height: 400px;    
    max-width: 200px;    
}

.contactButtons{
    margin: 5px;
}