
.modal-table-fixit{
    align-content: center;
}

em{
    text-align: center;
    font-size : 12px;
}

.reviewImage {
    vertical-align: top;
    border: 010px;
}

.text-muted{
    text-align: center;
}
.headerImage{
    margin:0 auto;
    max-height: 400px;
    max-width: 100%;    
}

body{
    
    align-content: center;
    margin:0 auto;
}

.headerText{
    text-align: center;
    padding-top: 1%;

}

.contactPopup{
    text-align: center;
    padding: 1%;
    margin: 1%;
}
